/* styles.css*/

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

h1, h2, h3 {
    color: black;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Definicja stylu dla elementu z klasą "header" */
.header {
    background-color: white;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.colorText{
    color: black;
    font-weight: bold;
}

/* Definicja stylu dla wszystkich elementów <p> */
p {
    font-size: 16px;
    line-height: 1.5;
}

/* Definicja stylu dla wszystkich elementów <a> w stanie "hover" */
a:hover {
    color: #ff0000;
    text-decoration: underline;
}



button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

