<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- <title th:text="${title}">Title</title> -->
    <title th:text="${title}"></title>

    <link rel="stylesheet" href="styles.css" type="text/css"/> <!-- ----dodane gdy utworzę plik styles.css z globalną konfiguracją stylu -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <h1>Product List</h1>
    </div>

    <div class="container">
        <h2>Browse:</h2>
        <a th:href="@{/}" class="btn btn-primary btn-sm mb-3" >Home</a>
        <a th:href="@{/users}" class="btn btn-primary btn-sm mb-3" >Users</a>
        <!--<a th:href="@{/products}" class="btn btn-primary btn-sm mb-3" >Products</a> -->
        <a th:href="@{/rooms}" class="btn btn-primary btn-sm mb-3" >Rooms</a>
        <a th:href="@{/carts}" class="btn btn-primary btn-sm mb-3" >Carts</a>
    </div>

    <div class="container">
        <table style="width:95%" border="2"
               class="table table-striped table-bordered border-primary mx-auto">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Brand</th>
                    <th style="width: 30%;" scope="col">Link</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Views</th>
                </tr>
            </thead>
            <tbody class="colorText">
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.brand}"></td>
                    <td>
                        <a th:if="${product.link != null}" th:href="${product.link}" th:text="${product.name}"></a>
                    </td>
                    <td th:text="${product.category}"></td>
                    <td th:text="${product.price}"></td>
                    <td>
                        <div>
                            <a th:href="@{/api/products/{id}(id=${product.id})}" class="btn btn-info btn-sm">view details</a>
                            <button class="btn btn-danger btn-sm" th:attr="onclick='deleteElement(\'' + ${product.id} + '\',\'' + 'products' + '\')'" >delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--==================================DELETE ELEMENT========================================-->

    <script>
        function deleteElement(elementId, name) {
            if (confirm('Are you sure you want to delete this element?')) {
                fetch('/api/' + name + '/' + elementId, {method: 'DELETE'})
                    .then(response => {
                    if (response.ok) {
                        alert('Element successfully deleted');
                        location.reload();
                    }else {
                        alert('Failed to delete element');
                    }
                });
            }
        }
    </script>

    <!--=============================FLEXBOX WITH FORM=============================================-->

    <!--FLEXBOX-->
    <div class="container">
        <div class="d-flex justify-content-around">

            <!-- FORMULARZ SLUZACY DO DODANIA NOWEJ ENCJI-->
            <div class="container">
                <h2>Add new Product</h2>
                <form id="productForm">
                    <div class="mb-3 row">
                        <div class="col-sm-2">
                            <label for="name" class="col-sm-1 col-form-label">Name</label>
                        </div>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-2">
                            <label for="brand" class="col-sm-1 col-form-label">Brand</label>
                        </div>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="brand" name="brand">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-2">
                            <label for="link" class="col-sm-1 col-form-label">Link</label>
                        </div>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="link" name="link">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-2">
                            <label for="category" class="col-sm-1 col-form-label">Category</label>
                        </div>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="category" name="category">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-2">
                            <label for="price" class="col-sm-1 col-form-label">Price</label>
                        </div>
                        <div class="col-sm-7">
                            <input type="number" step="0.01" class="form-control" id="price" name="price">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm mb-3">Confirm</button>
                </form>
            </div>


            <!--FORMULARZ SLUZACY DO AKTUALIZOWANIA ENCJI PRODUCT-->
            <div class="container">
                <h2>Product Update</h2>
                <form id="updateProductForm">
                    <div class="mb-3 row">
                        <div class="col-sm-2">
                            <label for="productId" class="col-sm-1 col-form-label">Id</label>
                        </div>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="productId" name="productId">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-2">
                            <label for="updateProductName" class="col-sm-1 col-form-label">Name</label>
                        </div>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="updateProductName" name="updateProductName">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-2">
                            <label for="updateProductBrand" class="col-sm-1 col-form-label">Brand</label>
                        </div>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="updateProductBrand" name="updateProductBrand">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-2">
                            <label for="updateProductLink" class="col-sm-1 col-form-label">Link</label>
                        </div>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="updateProductLink" name="updateProductLink">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-2">
                            <label for="updateProductCategory" class="col-sm-1 col-form-label">Category</label>
                        </div>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="updateProductCategory" name="updateProductCategory">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-2">
                            <label for="updateProductPrice" class="col-sm-1 col-form-label">Price</label>
                        </div>
                        <div class="col-sm-7">
                            <input type="number" step="0.01" class="form-control" id="updateProductPrice" name="updateProductPrice">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm mb-3">Confirm</button>
                </form>
            </div>

        </div>
    </div>

    <!--==============================ADD NEW ELEMENT============================================-->

    <!--SKRYPT SLUZACY DO DODANIA NOWEJ ENCJI-->
    <!--SKRYPT pobiera dane z formularz i na ich podstawie tworzy nowa encje Product-->
    <script>
        document.getElementById('productForm').addEventListener('submit', function(event) {
            event.preventDefault(); // zapobiega domyślnemu wysłaniu formularza

            const formData = new FormData(this);
            const jsonData = {};

            formData.forEach((value, key) => {
                jsonData[key] = value;
            });

            fetch('/api/products', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            })
            .then(response => {
                if (response.ok) {
                    alert('Product successfully created');
                    this.reset(); // resetuje formularz
                    location.reload();
                } else {
                    alert('Failed to create product');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while creating the user');
            });
        });
    </script>

    <!--===============================UPDATE ELEMENT===========================================-->

    <!--SKRYPT SLUZACY DO AKTUALIZOWANIA ENCJI PRODUCT-->
    <script>
        document.getElementById('updateProductForm').addEventListener('submit', function(event){
            event.preventDefault();

            const form = this;
            const productId = document.getElementById('productId').value;
            const productName = document.getElementById('updateProductName').value;
            const productBrand = document.getElementById('updateProductBrand').value;
            const productLink = document.getElementById('updateProductLink').value;
            const productCategory = document.getElementById('updateProductCategory').value;
            const productPrice = document.getElementById('updateProductPrice').value;

            fetch(`/api/products/${productId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name: productName,
                    brand: productBrand,
                    link: productLink,
                    category: productCategory,
                    price: productPrice})
            })
            .then(response => {
                console.log('Response Status: ', response.status);
                return response.json().then(data => {
                    if(response.ok) {
                        this.reset();
                        alert('Product successfully updated');
                        location.reload();
                    } else {
                        alert('Failed to upload product');
                    }
                });
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while updating the product');
            });
        });
    </script>

    <!--==================================FILTER BY CATEGORY========================================-->

    <!--Wyświetlanie formularza SELECT z kategoriami do wyboru-->
    <div class="container">
        <h2>Filter Products by Category</h2>
        <form id="filterProductsForm">
            <select id="productCategory" name="category">
                <option value="none">None</option>
                <!--Pozostałe opcje zostaną dodane dynamicznie przez skrypt JS-->
            </select>
            <button type="submit" class="btn btn-primary btn-sm mb-3">Filter Products</button>
        </form>
    </div>

    <!--SKRYPT URUCHAMIA SIĘ W TRAKCIE ŁAOWANA HTML-a, dzięku użyciu "DOMContentLoaded".-->
    <!--Skrypt odpowiada za pobranie wszystkich istniejących kategorii w bazie Produktów i aktualizacje formularza z kategoriami-->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
           fetch('/api/products/categories')
           .then(response => {
               if(!response.ok) {
                   throw new Error('Failed to fetch categories')
               }
               return response.json();
           })
           .then(categories => {
               const selectElement = document.getElementById('productCategory');
               categories.forEach(category => {
                   const option = document.createElement('option');
                   option.value = category;
                   option.text = category.charAt(0).toUpperCase() + category.slice(1);
                   selectElement.appendChild(option);
               })
           })
           .catch(error => {
               console.error('Error loading categories:', error);
           })
        })
    </script>

    <!--SKTYPT filtruje baze produktow na podstawie kategrii, a nastepnie wyswietla wynik filtracji bazy-->
    <script>
        document.getElementById('filterProductsForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const category = document.getElementById('productCategory').value;

            if (category === "none") {
                // Reload original list or handle the case when no filter is applied
                location.reload();
            } else {
                fetch(`/api/products/category/${category}`)
                .then(response => {
                    console.log('Raw response:', response);
                    if (!response.ok) {
                        throw new Error('Network response was not ok: ' + response.statusText);
                    }
                    return response.json()
                })
                .then(data => {
                    // Wyczyszczenie istniejącej listy produktów
                    const productList = document.querySelector('tbody'); //służy do odnalezienia pirwszego wystąpienia elementu "tbody"
                    productList.innerHTML = '';

                    if (data.length === 0) { //NARAZIE NIE DZIAŁA
                        alert('No products found in this category');
                        return;
                    }
                    //Dodać kod do wyświetlania produktu w interfejsie
                    data.forEach(product => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${product.id}</td>
                            <td>${product.name}</td>
                            <td>${product.brand}</td>
                            <td>${product.category}</td>
                            <td>${product.price}</td>
                            <td>
                                <div>
                                    <a href="/api/products/${product.id}" class="btn btn-info btn-sm">view details</a>
                                    <button class="btn btn-danger btn-sm" onclick="deleteElement(${product.id}, 'products')">delete</button>
                                </div>
                            </td>
                        `;
                        productList.appendChild(row); //dodanie nowo utworzonych wierszy do tabeli
                    });
                    console.log(data);
                })
                .catch(error => {
                    console.error('Error:', error);
                        alert('An error occurred while filtering products');
                    });
            }
        });
    </script>



    <!-- Wysyłanie zapytania restowego do API -> wykorzystując skrypt JavaScript-->
    <script src="/js/scripts.js"></script> <!-- Dodanie linku do pliku JavaScript -->

</body>
</html>